<h3 class="text-muted mt-3 mb-2 offset-md-3">Log in for students</h3>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control mb-3' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control mb-2' %>

      <%= f.hidden_field :type, value: "user"  %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <h6 class="mt-3"><%= link_to "新規登録はこちら", u_new_path, class: "text-muted" %></h6>
    <h6 class="mt-3"><span data-toggle="modal" data-target="#myModal" class="forgot-pass text-muted clickable">パスワードをお忘れの場合</span></h6>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">パスワード再設定</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>以下よりメールアドレスを送信してください。仮パスワードを発行いたします。</p>
        <%= form_with url: u_forget_path, local: true do |form| %>
          <%= form.email_field :email,class: "form-control" %>
          <%= form.submit class: "btn btn-primary", value: "送信" %>
        <% end %>
<!--        <input type="text" placeholder="Enter e-mail" class="form-control"/>-->
<!--        <button type="button" class="btn btn-primary" id="submit">送信</button>-->
      </div>
      <div class="modal-footer">
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

</script>


<style>
  .forgot-pass:hover{
    cursor: pointer;
    border-bottom: #2c2c2f;
  }
</style>