<div class="col-md-8 offset-md-2 mt-2">
  <div class="list-group">
    <% @reservations&.each do |res| %>
      <div class="list-group-item d-flex w-100 justify-content-between">

        <p><%= Bike.find(res.bike_id).name %></p>
        <p><%= "#{res.day.month}/#{res.day.day}" %> (<%= ["日", "月", "火", "水", "木", "金", "土"][res.day.wday] %>)</p>

        <% if user? %>
          <% if res.tourist_id.nil? && Bike.find(res.bike_id).user_id == @current_user&.id %>
            <%= link_to "削除", r_delete_path(res.id), method: :delete, class: "btn btn-outline-primary btn-sm d-flex", role: "button", style: "height: 50%" %>
          <% elsif !res.tourist_id.nil? %>
            <button type="button" class="btn btn-warning btn-sm d-flex" disabled>予約済</button>
          <% end %>
        <% elsif tourist? %>
          <% if res.tourist_id.nil? %>
            <%= link_to "予約", r_accept_path(res.id), method: :post, class: "btn btn-outline-primary btn-sm d-flex", role: "button", style: "height: 50%" %>
          <% else %>
            <button type="button" class="btn btn-warning btn-sm d-flex" disabled>予約済</button>
          <% end %>
        <% else %>
          <!--        TODO-->
        <% end %>
      </div>
    <% end %>
  </div>
</div>