<div class="p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0 text-muted"><%= yield(:res_title) %></h6>
  <% if @reservations.empty? %>
    <div class="p-2 mt-1 text-muted">予定が見つかりません</div>
  <% end %>
  <% @reservations&.each do |res| %>
    <div class="media text-muted pt-3">
      <div class="media-body pb-3 mb-0 border-bottom border-gray">
        <div class="px-3">
          <% if false %>
            <div class="p-2"><%= Bike.find(res.bike_id).name %></div>
          <% end %>

          <ul class="">
          <li class="">
            Rental Date: <%= "#{res.day.month}/#{res.day.day}" %>(<%= ["日", "月", "火", "水", "木", "金", "土"][res.day.wday] %>)</li>
          <li class="">
            Place: <a href="/root/place"><%= ["ルネ前", "百万遍", "京大病院"][res.place_id] if res.place_id %></a></li>
          <li class="">
            Rental Time: <%= res.rent_time.strftime("%H:%M") if res.rent_time%></li>
          <li class="">Price: 700円</li>
          </ul>

          <br/>
          <div class="float-right">
            <% if res.tourist_id.present? %>
                <button type="button" class="btn btn-warning btn-sm d-flex" disabled>予約済</button>
            <% elsif res.tourist_id.nil?%>

                <% if user? &&  @current_user.authenticated%>
                    <% if Bike.find(res.bike_id).user_id == @current_user&.id %>
                      <%= link_to "削除", r_delete_path(res.id), method: :delete, class: "btn btn-danger btn-sm", role: "button", style: "height: 100%" %>
                    <% end %>


                <% elsif tourist? &&  @current_user.authenticated%>
                    <%= link_to "予約", r_payment_path(res.id), method: :get, class: "btn btn-outline-navy btn-sm", role: "button", style: "height: 100%" %>
                <% else %>
                  <button type="button" class="btn btn-info btn-sm d-flex" disabled>予約可</button>
                <% end %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!--<style>-->
<!--  ul li:before {-->
<!--    font-family: "Font Awesome 5 Free";-->
<!--    content: "\f00c";-->
<!--    position: absolute;-->
<!--    left : 1em; /*左端からのアイコンまで*/-->
<!--    color: #ffb03f; /*アイコン色*/-->
<!--  }-->
<!--</style>-->