<h5 class="text-muted col-lg-8 offset-lg-2 mt-3 col-md-10 offset-md-1">予約一覧</h5>
<div class="col-md-8 col-lg-8 offset-lg-2 mt-2 col-md-10 offset-md-1 mb-5">
  <div class="list-group">
    <% @reservations&.each do |res| %>
      <div class="list-group-item d-flex w-100 justify-content-between">
        <p><%= link_to Bike.find(res.bike_id).name, b_show_path(res.bike_id), class: "text-muted"%></p>
        <p><%= User.find(Bike.find(res.bike_id).user_id).nickname %></p><br/>
        <p><%= res.day %> (<%= [ "日", "月", "火", "水", "木", "金", "土"][res.day.wday] %>)</p>
        <% if res.tourist_id.nil? %>
          <%= link_to "削除", r_delete_path(res.id), method: :delete,
                      class: "btn btn-outline-primary btn-sm d-flex", role: "button", style: "height: 50%" %>
        <% else %>
          <button type="button" class="btn btn-warning btn-sm d-flex" disabled>予約済</button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @reservations %>