
  <h5 class="my-3">自転車（<%= @reserve.bike.name %>）予約詳細確認ページ</h5>

  <p>場所：<a href="/root/place"><%= Parking.find(@reserve.place_id).name %></a></p>
  <p>時間：<%= "#{@reserve.start_datetime.month}/#{@reserve.start_datetime.day}" %>(<%= ["日", "月", "火", "水", "木", "金", "土"][@reserve.start_datetime.wday] %>)
    <%= @reserve.start_datetime.strftime("%H:%M") %>〜<%= @reserve.end_datetime.strftime("%H:%M") %></p>
  <p>自転車PIN[レンタル開始時刻後に公開されます]：<%= @started ? @bike.pass : "****"%></p>
  <p>車体ID：<%= format("%03d",@reserve.bike.id) %></p>
  <p>自転車の詳細については<%= link_to "こちら", b_show_path(@reserve.bike_id)%></p>

  <!--  <p>オーナーの詳細については<%#= link_to "こちら", u_show_path(@reserve.bike.user_id)%></p>-->
 <%= render partial: 'component/tourists/rental_button', locals: {reserve: @reserve} %>

  <p class="explain_box">わからないことがあれば我々（<%= mail_to "contact@mail.kyotosharebike.com" %>）か、ホスト（<%= mail_to @reserve.bike.user.email %>）に確認しましょう。その際、必ず登録済みのメール（<%= @tourist.email %>）から送信してください。</p>

