<%= render 'layouts/error' %>

<div class="row">

  <div class="col-md-6 offset-md-3 offset-lg-0 col-lg-4">
    <div class="row">

      <div class="mt-3 col-md-10 offset-md-1 col-6 offset-3">
        <button type="button" class="btn btn-outline-primary btn-block" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          日程追加
        </button>
      </div>

      <div class="collapse col-12 mt-2" id="collapseExample">
        <div class="card card-body">
          <%= form_for(@reserve, url: reserve_path) do |f| %>
            <%= f.label "Bike" %>
            <%= f.select :bike_id, Bike.where(user_id: @user.id)&.map {|b| [b.name, b.id]}, {}, {class: 'custom-select mb-1'} %>
            <%= f.label :day %>
            <%#= f.date_select :day, {start_year: Date.today.year.to_i, end_year: Date.today.since(1.months).year.to_i, add_month_numbers: true}, {class: 'form-control'} %>
            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
              <%= f.text_field :day, class: "form-control datetimepicker-input" %>
              <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
            <%= f.submit "Register", class: "btn btn-primary mt-2" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-8 offset-md-2 offset-lg-0 mt-3">
    <%= render 'util/reserve_list' %>
  </div>

</div>

<%= paginate @reservations %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
            format: 'L'
        });
    });
</script>
