<h1>Regiter(bike)</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@bike, url: b_create_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :vehicle_num %>
      <%= f.text_field :vehicle_num, class: 'form-control' %>

      <%= f.label :security_area %>
      <%= f.text_field :security_area, class: 'form-control' %>

      <%= f.label :security_num %>
      <%= f.text_field :security_num, class: 'form-control'%>

      <%= f.label :details %>
      <%= f.text_area :details, class: 'form-control' %>

      <%= f.submit "Register new bike", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>