<h2 class="text-muted mt-3 mb-3 offset-md-3">Register new bike</h2>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for(@bike, url: b_create_path) do |f| %>
      <%= render 'layouts/bike_error' %>

      <%= f.label "表示名" %>
      <%= f.text_field :name, class: 'form-control mb-3' %>

      <%= f.label "車体番号" %>
      <%= f.number_field :vehicle_num, class: 'form-control mb-3' %>

      <%= f.label :security_area %>
      <%= f.text_field :security_area, class: 'form-control mb-3' %>

      <%= f.label :security_num %>
      <%= f.number_field :security_num, class: 'form-control mb-3'%>

      <%= f.label :details %>
      <%= f.text_area :details, class: 'form-control' %>

      <div class="custom-file mt-3 mb-2">
        <%= f.label "ファイルを追加", class: "custom-file-label", for: "customFile" %>
        <%= f.file_field :image, class: 'custom-file-input' %>
      </div>

      <%= f.submit "Register", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script type="application/javascript">
    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>