<!--{reservations: @reservations}-->
<div class="row" id="accordion2" role="tablist">
  <%= reservations.empty? ? simple_format("自転車が見つかりません", class: "py-3 text-muted") : nil %>
  <% reservations.each_with_index do |res, i| %>
    <div class="col-lg-4 col-sm-6">
    <div class="card shadow mb-3">
        <%= image_tag res.bike.image.to_s, class: "card-img-top" %>

        <div class="card-body">
          <div class="px-3">
            <% if false %>
              <div class="p-2"><%= Bike.find(res.bike_id).name %></div>
            <% end %>

            <ul class="">
              <li>
                名前: <%= res.bike.name %>
              </li>
              <li class="">
                場所: <a href="/root/place"><%= Parking.find(res.place_id).name %></a></li>
              <li class="">
                日にち: <%= "#{res.start_datetime.month}/#{res.start_datetime.day}" %>(<%= ["日", "月", "火", "水", "木", "金", "土"][res.start_datetime.wday] %>)</li>
              <li class="">
                時間: <%= res.start_datetime.strftime("%H:%M") %>〜<%= res.end_datetime.strftime("%H:%M") %></li>
              <li class="">価格: <%= res.price %>円</li>
            </ul>

            <br/>
            <div class="float-right">
              <% if res.tourist_id.present? %>
                <button type="button" class="btn btn-warning btn-sm" disabled>予約済</button>
              <% elsif res.tourist_id.nil?%>

                <% if user? &&  @current_user.authenticated%>
                  <% if Bike.find(res.bike_id).user_id == @current_user&.id %>
                    <%= link_to "削除", r_delete_path(res.id), method: :delete, class: "btn btn-danger btn-sm", role: "button", style: "height: 100%" %>
                  <% end %>


                <% elsif tourist? &&  @current_user.authenticated%>
                  <%= link_to "予約", r_payment_path(res.id), method: :get, class: "btn btn-info btn-sm", role: "button", style: "height: 100%;" %>
                <% else %>
                  <button type="button" class="btn btn-info btn-sm" disabled>予約可</button>
                <% end %>
              <% end %>
              <object>
              <%= link_to "詳細", b_show_path(res.bike_id), method: :get, class: "btn btn-outline-navy btn-sm", role: "button", style: "height: 100%;" %>
              </object>
            </div>
          </div>
        </div>
    </div>
    </div>
  <% end %>
</div>

<style>
  a .btn{
    pointer-events: none;
  }
</style>