<%= render 'layouts/header', {trans_class: "", color_on_scroll: nil, no_padding: false} %>


<div class="container mt-5">
  <div class="row">
    <div class="col-12">

      <div class="p-3">
        <h2 class="mt-3 pt-3 mb-3 border-bottom border-secondary">使い方紹介（京大生編）</h2>
        <p>
          ステップごとに詳しく説明していきます。
        </p>
        <h3 class="pt-3 mb-3">①ユーザー登録（登録が済んでいない方）</h3>
        <p>
          <%= link_to "登録ページ", u_new_path, target: "_blank"%>で登録します。「名前」、「大学のメールアドレス(....@st.kyoto-u.ac.jp)」を入れて登録します。
          （登録完了後、入力いただいたメールアドレスに確認メールが届きますので開いていただきますようお願いいたします。）
        </p>
        <h3 class="pt-3 mb-3">②自転車を登録</h3>
        <p>
          <%= link_to "自転車登録ページ（要ログイン）", b_new_path, target: "_blank"%>で自転車を登録します。詳細を入力後、登録ボタンを押します。
        </p>
        <p>
          登録した自転車はナビゲーションバーから確認可能です。
        </p>
        <h3 class="pt-3 mb-3">③日程追加</h3>
        <p>
          <%= link_to "予約一覧ページ（要ログイン）", u_reserve_path, target: "_blank"%>にて日程の追加を行います。
        </p>
        <h3 class="pt-3 mb-3">④貸出</h3>
        <p>
          時決められた時間内は指定場所にて、登録されたロック番号で自転車が置かれていることを確認して下さい。
        </p>
        <p>
         また、自転車の返却後、次の貸出時刻の２時間前までに自転車の点検を必ず行って下さい。問題があればこちらへ直ちにご連絡下さい。（当事者同士で問題の解決に当たることはおやめ下さい）
        </p>
        <p><%= link_to "ユーザー登録はこちら", u_new_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>


