<%= render 'layouts/header', {trans_class: "", color_on_scroll: nil, no_padding: false} %>


<div class="container mt-5">
  <div class="row">
    <div class="col-12">

      <div class="p-3">
        <h2 class="mt-3 pt-3 mb-3 border-bottom border-secondary">使い方紹介（観光客編）</h2>
        <p>
          ステップごとに詳しく説明していきます。
        </p>
        <h3 class="pt-3 mb-3">①ユーザー登録（登録が済んでいない方）</h3>
        <p>
          <%= link_to "登録ページ", t_new_path, target: "_blank"%>で登録します。「名前」、「メールアドレス」を入れるだけなのですぐに完了します。
          （登録完了後、入力いただいたメールアドレスに確認メールが届きますので開いていただきますようお願いいたします。）
        </p>
        <h3 class="pt-3 mb-3">②自転車を探して、予約しよう</h3>
        <p>
          <%= link_to "自転車一覧ページ", b_index_path, target: "_blank"%>で自転車を予約します。気に入った自転車があれば、レンタル可能時間をご確認いただき、よろしければ、「予約」ボタンを押します。
        </p>
        <p>
          支払い確認ページが表示されますので、もう一度ご確認いただき、よろしければ「お支払へすすむ」を押します。
        </p>
        <p>PayPalまたはクレジットカードを用いて支払いが可能です。お好きな方法をお選び下さい。（お支払は<a target="_blank" href="https://www.paypal.com/">PayPal</a>を通して実行されます。当法人がクレジットカード等の情報を得ることはありません。）</p>
        <h3 class="pt-3 mb-3">③受取</h3>
        <p>
          あとは指定の時間に取りにくるだけです。<%= link_to "予約一覧ページ（要ログイン）", t_reserve_path %>から予約した自転車を見ると、時間、場所等の情報が書かれています。
          また、シールを頼りに自転車を探します。
        </p>
        <p>
          自転車を見つけたら<%= link_to "予約一覧ページ（要ログイン）", t_reserve_path %>から予約した自転車を開き、レンタルを開始するボタンを押します。
          その際、自転車の状態（パンクをしていないか等）をご確認下さい。ボタンを押すと自転車のロック番号が公開されます。
        </p>
        <h3 class="pt-3 mb-3">④返却</h3>
        <p>
          時間内に借りたステーションにて自転車の返却をお願いします。ワイヤーロックでロックした後、
          <%= link_to "予約一覧ページ（要ログイン）", t_reserve_path %>から予約した自転車をひらき、返却ボタンを押します。
          返却時には確認項目のチェックもお願いいたします。
        </p>
        <p>
          これで自転車の返却処理は完了です。
        </p>
        <h3 class="pt-3 mb-3">⑤レビュー</h3>
        <p>
          指定のページからレビューをお願いいたします。
        </p>
        <p><%= link_to "ユーザー登録はこちら", t_new_path, class: "btn btn-primary"%></p>
      </div>

    </div>
  </div>
</div>

