<%= render 'layouts/header', {trans_class: "navbar-transparent", color_on_scroll: 'color-on-scroll=400', no_padding: true} %>

<div class="jumbotron jumbotron-fluid jumbo-top">
  <div class="container titles">
    <h1 class="display-4 mr-5 pt-3  brandtext text-white">Share Your Bike</h1>
    <p class="lead mt-4 ml-2 text-white">日本の移動に革命を起こそう</p><br/>
  </div>
</div>

<div class="container titles" style="margin-top: 15vh; margin-bottom: 20vh">
  <div class="row">
    <h2 class="offset-md-1 text-center col-md-5 col-12 pt-5">WhereBikeって？</h2>
    <p class="col-md-5 col-12">シェアバイクは新しい自転車貸し借りサービスです。どなたでもご利用に慣れます。シェアバイクは新しい自転車貸し借りサービスです。どなたでもご利用に慣れます。
      シェアバイクは新しい自転車貸し借りサービスです。どなたでもご利用に慣れます。</p>
  </div>
  <div class="btn-group d-flex mt-5 justify-content-center" role="group" aria-label="...">
    <button type="button" class="btn-lg btn-primary border-0" data-toggle="modal" data-target="#firstman">初めての方はこちらへ！</button>
  </div>
</div>



<div class="container">
  <div class="row mt-2 mb-5">
    <div class="offset-md-1 col-12 col-md-5 d-flex align-items-center justify-content-center">
      <%= render 'svg/bike' %>
    </div>
    <div class="col-12 col-md-5 text-center">
      <p class="mt-md-1">
        京大生の自転車が簡単に使え、コミュニケーションを簡単にとれます。京大生の自転車が簡単に使え、コミュニケーションを簡単にとれます。京大生の自転車が簡単に使え、コミュニケーションを簡単にとれます。
      </p>
    </div>
  </div>
  <div class="row mt-4 mb-5">
    <div class="offset-md-1 col-12 col-md-5 d-flex align-items-center justify-content-center">
      <%= render 'svg/bike' %>
    </div>
    <div class="col-12 col-md-5 text-center">
      <p class="mt-md-1">
        京大生の自転車が簡単に使え、コミュニケーションを簡単にとれます。京大生の自転車が簡単に使え、コミュニケーションを簡単にとれます。京大生の自転車が簡単に使え、コミュニケーションを簡単にとれます。
      </p>
    </div>
  </div>
  <div class="row mt-4 mb-5">
    <div class="offset-md-1 col-12 col-md-5 d-flex align-items-center justify-content-center">
      <%= render 'svg/bike' %>
    </div>
    <div class="col-12 col-md-5 text-center">
      <p class="mt-md-1">
        京大生の自転車が簡単に使え、コミュニケーションを簡単にとれます。京大生の自転車が簡単に使え、コミュニケーションを簡単にとれます。京大生の自転車が簡単に使え、コミュニケーションを簡単にとれます。
      </p>
    </div>
  </div>

  <h5 class="text-center my-5">いかがでしょうか？面白いと思ったら以下、「初めての方」より詳しい説明をどうぞ！</h5>
  <div class="btn-group d-flex mt-1 justify-content-center" role="group" aria-label="...">
    <button type="button" class="btn btn-outline-primary w-50" data-toggle="modal" data-target="#firstman">初めての方</button>
    <button type="button" class="btn btn-outline-primary w-50" data-toggle="modal" data-target="#secondman">登録済みの方</button>
  </div>
</div>




<div class="modal fade" tabindex="-1" role="dialog" id="secondman">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center">いずれか選択してください</p>
        <div class="btn-group d-flex mt-1" role="group" aria-label="...">
          <a role="button" class="btn btn-info w-100" href="/t-login" data-turbolinks="false">利用者</a>
          <a role="button" class="btn btn-info w-100" href="/u-login" data-turbolinks="false">京大生</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="firstman">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center h4 text-muted">いずれか選択してください</p>
<!--        <div class="btn-group d-flex mt-1" role="group" aria-label="...">-->
          <a role="button" class="btn btn-first w-100 my-5" href="/root/first-t" data-turbolinks="false">観光客</a>
          <a role="button" class="btn btn-first w-100" href="/root/first-u" data-turbolinks="false">京大生</a>
<!--        </div>-->
      </div>
    </div>
  </div>
</div>




<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.5/vivus.js" crossorigin="anonymous"></script>-->
<script>
    let vh = window.innerHeight*0.01;
    document.documentElement.style.setProperty('--vh',`${vh}px`);
    // new Vivus('school', {duration: 100, start: 'autostart', type: 'oneByOne'});

    // var rellax = new Rellax('.rellax');
</script>
<style>
  .jumbo-top {
    position: relative;
    background-image: url(<%= image_url 'town-xml.svg'%>);
    background-size: cover;
    background-position: left 60%;
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .jumbo-down{
    background-color: #FFFFFF;
    height: 50vh;
    /*background: linear-gradient(180deg, #377590, #4b86c7);*/
  }

  .jmbtext{
    /*background-color: #ffffff;*/
    border-radius: 20px;
  }

</style>



