<% current_user %>
<nav class="navbar navbar-expand-lg bg-primary fixed-top <%= trans_class %>" <%= color_on_scroll %>>
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/" rel="tooltip" title="Share Cycling Service" data-placement="bottom">
        WhereBike
      </a>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar top-bar"></span>
        <span class="navbar-toggler-bar middle-bar"></span>
        <span class="navbar-toggler-bar bottom-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav">


        <% if @current_user.kind_of?(User) %>
          <li class="nav-item">
            <%= link_to(icon("far", "user", class: "fa-white") + " " + @current_user.name, u_edit_path, class: "nav-link active") %>
          </li>
        <% elsif @current_user.kind_of?(Tourist) %>
          <li class="nav-item">
            <%= link_to(icon("far", "user", class: "fa-white") + " " + @current_user.name, t_edit_path, class: "nav-link active") %>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= icon("fas", "sign-in-alt", class: "fa-white") %> login
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to("京大生の方", u_login_path, class: "dropdown-item") %>
              <%= link_to("利用者の方", t_login_path, class: "dropdown-item") %>
            </div>
          </li>
        <% end %>


        <li class="nav-item dropdown">
          <% if user? %>
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= icon("fas", "bicycle", class: "fa-white") %> my bike
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% Bike.where(user_id: @current_user.id).each do |bike| %>
                <%= link_to(bike.name, "/bikes/edit/" + bike.id.to_s, class: "dropdown-item") %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to("新規追加", b_new_path, class: "dropdown-item") %>
            </div>
          <% end %>
        </li>

        <li class="nav-item">
          <% if user? %>
            <%= link_to(icon("fas", "calendar-alt", class: "fa-white") + " reservations", u_reserve_path, class: "nav-link") %>
          <% elsif tourist? %>
            <%= link_to(icon("fas", "plane-departure", class: "fa-white") + " reservations", t_reserve_path, class: "nav-link") %>
          <% end %>
        </li>

        <li class="nav-item">
          <% if tourist? %>
            <%= link_to(icon("fas", "search", class: "fa-white") + " search bike", b_index_path, class: "nav-link") %>
          <% else %>
            <%= link_to(icon("fas", "search", class: "fa-white") + " search bike", b_index_path, class: "nav-link") %>
          <% end %>
        </li>

        <li class="nav-item dropdown">
          <% if logged_in? %>
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= icon("fas", "sign-out-alt", class: "fa-white") %> logout
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to("logout", logout_path, class: "dropdown-item") %>
            </div>
          <% end %>
        </li>


<!--                <li class="nav-item dropdown">-->
<!--                  <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown">-->
<!--                    <i class="now-ui-icons design_app"></i>-->
<!--                    <p>Components</p>-->
<!--                  </a>-->
<!--                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">-->
<!--                    <a class="dropdown-item" href="/">-->
<!--                      <i class="now-ui-icons business_chart-pie-36"></i> All components-->
<!--                    </a>-->
<!--                    <a class="dropdown-item" target="_blank" href="https://demos.creative-tim.com/now-ui-kit/docs/1.0/getting-started/introduction.html">-->
<!--                      <i class="now-ui-icons design_bullet-list-67"></i> Documentation-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </li>-->
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link btn btn-neutral" href="https://www.creative-tim.com/product/now-ui-kit-pro" target="_blank">-->
        <!--            <i class="now-ui-icons arrows-1_share-66"></i>-->
        <!--            <p>Upgrade to PRO</p>-->
        <!--          </a>-->
        <!--        </li>-->
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">-->
        <!--            <i class="fab fa-twitter"></i>-->
        <!--            <p class="d-lg-none d-xl-none">Twitter</p>-->
        <!--          </a>-->
        <!--        </li>-->
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">-->
        <!--            <i class="fab fa-facebook-square"></i>-->
        <!--            <p class="d-lg-none d-xl-none">Facebook</p>-->
        <!--          </a>-->
        <!--        </li>-->
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">-->
        <!--            <i class="fab fa-instagram"></i>-->
        <!--            <p class="d-lg-none d-xl-none">Instagram</p>-->
        <!--          </a>-->
        <!--        </li>-->
      </ul>
    </div>
  </div>
</nav>