<% current_user %>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000080;">
  <a class="navbar-brand text-white" href="/">しぇあば</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <% if @current_user.kind_of?(User) %>
          <%= link_to(@current_user.name, u_edit_path, class: "nav-link active") %>
        <% elsif @current_user.kind_of?(Tourist) %>
          <%= link_to(@current_user.name, t_edit_path, class: "nav-link active") %>
        <% else %>
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ログイン
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to("観光客の方", t_login_path, class: "dropdown-item") %>
            <%= link_to("京大生の方", u_login_path, class: "dropdown-item") %>
          </div>
        <% end %>
      </li>

      <li class="nav-item active">
        <% if user? %>
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My bike
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Bike.where(user_id: @current_user.id).each do |bike| %>
              <%= link_to(bike.name, "/bikes/edit/" + bike.id.to_s, class: "dropdown-item") %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to("新規追加", b_new_path, class: "dropdown-item") %>
          </div>
        <% end %>
      </li>

      <li class="nav-item active">
        <% if user? %>
          <%= link_to("Reservations", u_reserve_path, class: "nav-link") %>
        <% elsif tourist? %>
          <%= link_to("Reservations", t_reserve_path, class: "nav-link") %>
        <% end %>
      </li>

      <li class="nav-item active">
        <% if true %>
          <%= link_to("Bike list", b_index_path, class: "nav-link") %>
        <% end %>
      </li>

      <li class="nav-item active">
        <% if logged_in? %>
          <%= link_to("Logout", logout_path, class: "nav-link") %>
        <% end %>
      </li>

    </ul>

  </div><!-- /.navbar-collapse -->
</nav>