<!DOCTYPE html>
<html>
<head>
  <title>Share Bike</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--    追加分-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="content-language" content="ja">
  <link href="https://fonts.googleapis.com/css?family=Maiden+Orange" rel="stylesheet">

</head>

<body>
<div class="mother">
  <%= render 'layouts/header' %>

  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert mt-1 alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </div>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
